.first {
  background-color: green;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  padding: 0 50px;
}
.a {
  margin-right: 600px;
}
.discount {
  border: solid whitesmoke;
  border-radius: 15px;
  margin: 4px 0;
  transition: background-color 0.3s ease;
}
.one {
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
}
.one button {
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.third {
  background-color: green;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 25px 50px;
}
h1 {
  color: white;
}
.para1 {
  font-weight: bold;
  color: white;
  font-size: 20px;
  font-family: "montserrat";
}
.third button {
  border-radius: 10px;

  padding: 10px 10px;
}

#contactdetails {
  background-color: green;
  color: white;
}
a {
  color: white;
}
.imgs1 {
  display: flex;
  justify-content: space-between;
}
.imgs2 {
  display: flex;
  justify-content: space-between;
}
/* blog page styling */
#home {
  color: wheat;
  text-shadow: 2px 2px black;
  text-align: center;
}
.all-blog {
  background-color: olivedrab;
  color: white;
  font-family: "montserrat";
  font-size: large;
}
/*Contact Us */
.form {
  background-color: green;
  margin: 50px auto;
  padding: 25px;
}
.social-media {
  font-size: smaller;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*back button */
.backbtn {
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
}
/*About Us */

.abouttop {
  text-align: center;
  background-color: green;
  padding-bottom: 20px;
}
.aboutus {
  color: #ffffffff;
}
.aboutimg {
  text-align: center;
}
.pcontent {
  font-family: "Monteserrat";
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin: 0 20% 0 20%;
}
footer {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid black;
  color: #000000;
}
/*Menu*/
.menu {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  color: white;
  font-family: montserrat;
  background-color: green;
  padding-top: 20px;
}
#food {
  width: 400px;
}
#pastries {
  width: 400px;
}
#smoothies {
  width: 400px;
}
body {
  font-size: 16px;
}
